<div style="padding: 10px; margin-bottom: 20px; border: 1px solid red;">
  <div style="float: right"><a href="/account/login_conditional"><img src="/account/login_indication" alt="Account" height="18" width="72" /></a></div>
  (PLACEHOLDER HEADER)
</div>