/* Hub stylesheet.
 *
 * Very distantly based on the Collaboa default stylesheet.
 */

@import url("https://www.riscosopen.org/css/risc_os_open_2025.css");

/* Button-based dangerous action links */

table td.dangerous img,
table td.dangerous input[type='image']
{
  border: 2px solid #966;
  background: #fee;
  margin: 1px;
}

table td input[type='image']
{
  border: none;
  background: inherit;
}

/* Icon-based buttons */

div.content a.image,
div.content a.image:hover
{
  background: inherit;
  border: none;
}

/* Centralised Pagy navigation */

div.pagination {
  text-align: center;
}

/* Special Hub cases for listing tables */

table.listing  td.yes,
table.bordered td.yes
{
  background-color: #dfd8;
  text-align: center;
}

table.listing  td.no,
table.bordered td.no
{
  background-color: #fdb8;
  text-align: center;
}

table.listing  td.expired,
table.bordered td.expired
{
  background-color: #fdd8;
  text-align: center;
  font-weight: bold;
}

/* Exception handling */

div.exception
{
  border: 1px solid #aaa;
  background: #eee;
  padding: 10px;
  color: #A77;
  font-size: 90%
}

div.exception p
{
  margin: 0;
  padding: 0;
}
