<% content_for :above_flash do %>
  <h1>Delete account</h1>
  <br />
  <br />
<% end %>

<%= image_tag image_path('account/delete_confirm.png'), :size => '80x80', :alt => 'Delete confirmation', :align => 'left' %>

<p>
  If you are sure you want to delete your account, please use the button below
  to confirm the action. Once deleted <b>your account cannot be recovered</b>,
  except by creating a new one from scratch.
</p>

<p>
  <%= button_to 'Yes, really delete my account!', :controller => 'account', :action => 'delete_confirm' %>
</p>

<br />
<%= render partial: 'shared/to_control_panel' %>
