        To obtain information on how to change a forgotten account password, please
        confirm the e-mail address of your account and use the 'Send' button to
        continue.

        <p />
        <% form_tag do %>
          <table class="list" cellspacing="1" cellpadding="4" border="1" align="center" bgcolor="#ffffff">
            <tr>
              <th bgcolor="#eeeeee" align="left"><label for="email">E-mail address</label></th>
              <td><%= text_field_tag 'email', '', :size => 40, :maxlength => 200 %></td>
            </tr>
          </table>

          <p align="center" />
          <%= submit_tag('Send') %>
        <% end %>

        <p />
        If you don't want to do this, you can
        <%= link_to 'go back to the control panel', :controller => 'tasks', :action => 'index' %>
        instead.