<h1>Forgotten password</h1>

<p>
  To obtain information on how to change a forgotten account password, please
  confirm the e-mail address of your account and use the 'Send' button to
  continue.
</p>

<%= form_tag do %>
  <table class="horizontal bordered" cellspacing="1" cellpadding="4" border="1" align="center" bgcolor="#ffffff">
    <tr>
      <th bgcolor="#eeeeee" align="left"><label for="email">E-mail address</label></th>
      <td><%= text_field_tag 'email', '', size: 40, maxlength: User::MAX_MAIL_LENGTH %></td>
    </tr>
  </table>

  <p align="center">
    <%= submit_tag('Send') %>
  </p>
<% end %>

<%= render partial: 'shared/to_control_panel' %>
