        To change your account password, please enter the new password then type it again
        to confirm the new value. Use the 'Change' button to apply the changes.

        <p />
        <%= form_tag do %>
          <table class="horizontal bordered" cellspacing="1" cellpadding="4" border="1" align="center" bgcolor="#ffffff">
            <tr>
              <th bgcolor="#eeeeee" align="left"><label for="password">Password</label></th>
              <td><%= password_field_tag 'password', '', size: 40, maxlength: User::MAX_PW_LENGTH %></td>
            </tr>
            <tr>
              <th bgcolor="#eeeeee" align="left"><label for="password_confirmation">Confirm password</label></th>
              <td><%= password_field_tag 'password_confirmation', '', size: 40, maxlength: User::MAX_PW_LENGTH %></td>
            </tr>
          </table>

          <p align="center" />
          <%= submit_tag('Change') %>
        <% end %>
